# Auto detect text files and perform LF normalization
* text=auto

# Ensure shell scripts always use LF (Linux/Mac)
*.sh text eol=lf

# Ensure batch files always use CRLF (Windows)
*.cmd text eol=crlf